:root {
    --dark-color: rgb(238, 242, 255);
    --medium-color: #7f8487;
    --light-color: #16003b;
}

*,
**,
*** {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--medium-color);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 0px;
}

section {
    margin: 7px 0px;
}

#header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 11vh;
    background-color: var(--light-color);
    margin-top: 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 1);
    z-index: 10;
}

#searcher {
    display: flex;
    position: relative;
    width: 60vw;
    height: 5vh;
    border-radius: 20px;
    margin: 0 4vw;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.75);
    padding-left: 35px;
}

#publicity {
    background-color: var(--dark-color);
    display: flex;
    position: relative;
    width: 100%-10px;
    height: 11.3vh;
    padding: 15px;
    margin: 17vh 10px 0 10px;
    justify-content: space-around;
    border-radius: 8px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
    background-image: url(./resources/offer.jpg);
    background-position: 0;
    background-size: cover;
}

#quickAccess {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 7px 0 0 0;
    font-size: 30px;
}

#quickAccess :is(.samsung, .motorola, .apple, .alcatel, .more, .tcl, .noblex, .nokia, .xiaomi) {
    width: 8vh;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.articules {
    background-color: var(--light-color);
    color: var(--dark-color-color);
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%-10px;
    height: 15.3vh;
    margin: 8px 10px 0 10px;
    padding: 5px 8px 5px 0px;
    border-radius: 8px;
    box-shadow: 0px 1px 1px 1px rgba(123, 123, 123, 0.75);
}

.product {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 15.3vh;
    margin-left: 5px;
}

.product_img {
    display: flex;
    position: relative;
    height: auto;
    width: 30%;
    margin-right: 15px;
    object-fit: contain;
}

.info {
    width: 70%;
}

.product_maker {
    margin: 3px;
    font-size: auto;
    font-weight: normal;
    color: var(--dark-color);
}

.product_name {
    margin: 3px;
    font-size: auto;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--dark-color);
}

.product_price {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 400;
    color: var(--dark-color);
}

.btns {
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
    margin-top: -4%;
}

#loader {
    position: fixed;
    color: red;
    top: 95vh;
    left: 25vw;
    font-size: 20px;
    z-index: 10;
}

.removeLoader {
    display: none;
}