:root {
    --dark-color: rgb(255, 255, 255);
    --medium-color: rgb(127, 132, 135);
    --light-color: #16003b;
}

*,
**,
*** {
    margin: 0;
    padding: 0;
}

html {
    background-color: #f1f1f1;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 0px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

section {
    margin: 7px 0px;
}

#header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: var(--light-color);
    margin-top: 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 1);
    z-index: 10;
}

#searcher {
    display: flex;
    position: relative;
    width: 12rem;
    height: 1.5rem;
    border-radius: 20px;
    padding-left: 35px;
    border: none;
    font-size: 1.1rem;
}

#searcher:focus {
    outline: auto;
    border: none;
}

#searcher::placeholder{
    color: var(--medium-color);
}
#publicity {
    background-color: var(--dark-color);
    display: flex;
    position: relative;
    width: 100%-10px;
    height: 6rem;
    padding: 15px;
    margin: 6rem 10px 0 10px;
    justify-content: space-around;
    border-radius: 8px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
    background-image: url(./resources/offer.jpg);
    background-position: 0;
    background-size: cover;
}

#quickAccess {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 7px 0 0 0;
    font-size: 30px;
}

.articles {
    background-color: var(--dark-color);
    color: var(--dark-color);
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%-10px;
    /* height: 15.3vh; */
    height: 7.2rem;
    margin: 8px 10px 0 10px;
    padding: 5px 8px 5px 0px;
    border-radius: 8px;
    box-shadow: 0px 1px 1px 1px rgba(123, 123, 123, 0.75);
}

.product {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 15.3vh;
    margin-left: 5px;
}

.product_img {
    display: flex;
    position: absolute;
    height: 7.5rem;
    width: 30%;
    margin-right: 15px;
    object-fit: contain;
}

.info {
    position: absolute;
    width: 68%;
    right: 0%;
}

.product_maker {
    margin: 3px;
    font-size: auto;
    font-weight: normal;
    color: var(--dark-color);
}

.product_name {
    margin: 3px;
    font-size: auto;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--dark-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product_price {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 400;
    color: var(--dark-color);
}

.btns {
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
    margin-top: -4%;
}

.removeLoader {
    display: none!important;
}

.modal {
    display: flex;
    position: fixed;
    background-color: #11a44e;
    width: 100%;
    height: 3rem;
    bottom: 0rem;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--dark-color);
}

.showModal {
    transform: translateY(0);
    transition: .3s;
}

.hideModal {
    transform: translateY(100%);
    transition: .3s;
}

.menu_desktop {
    display: flex
}

.quickAccess {
    display: none;
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #16003b);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: s3 1s infinite linear;
    margin-bottom: 5rem
    
}

@keyframes s3 {
    to {
        transform: rotate(1turn)
    }
}
.crystal{
    display: flex;
    position: fixed;
    width: 110vw;
    height: 110vh;
    background: rgba(22, 0, 59, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    transform: translateY(-150%);
    transition: .5s;
}
.show{
    transform: translateY(0);

}
::placeholder{
    color: red;
    padding-left: 3rem;

}

.centerCard{
    display: flex;
    position: fixed;
    height: calc(100% - 7rem);
    width: 95vw;
    max-width: 500px;
    background: #16003be6;
    bottom: .5rem;
    right: 0;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 1);
    color: var(--dark-color);
    transform: translateX(150%);
    transition: .5s;
}
.fa-angle-right{
    font-size: 1.8rem;
    margin: 1rem 1rem 0 1rem;
}
.imgCard{
    display: flex;
    position: relative;
    width: 10rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    margin-top: -1rem;
}
.priceCard{
    text-align: center;
    font-size: 1.8rem;
    color: #d7d3ec;
}
.titleCard{
    margin: 0 2rem;
    color: #d7d3ec;
    font-size: 1.2rem;
}
.descriptCard{
    margin: 1.5rem;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 25px;
    overflow-y: auto;
padding-right: .8rem;
}


@media screen and (max-width: 770px) {
.menu_desktop {
    display: flex
} 
.quickAccessDesktop{
    display: none;
}
.quit{
    display: none;
}
.filters{
    display: none;
}
.login{
    position: fixed;
    color: var(--dark-color);
    width: 100%;
    padding: 1.5rem 0;
    background-color: rgba(22, 0, 59,.5);
    text-align: center;
    top: 5.7rem;
    z-index: 1;
    font-size: 1.2rem;
    letter-spacing: 2px;
    transform: translateX(-300%);
    transition: .5s;
}
.login:hover{
background-color: rgba(143, 124, 236,.5);
}
.contact{
    position: fixed;
    color: var(--dark-color);
    width: 100%;
    padding: 1.5rem 0;
    background-color: rgba(22, 0, 59,.5);
    text-align: center;
    top: 10.3rem;
    z-index: 1;
    font-size: 1.2rem;
    letter-spacing: 2px;
    transform: translateX(-300%);
    transition: .5s;
}  
.mostrar {
    transform: translateX(0);
}
.contact:hover{
background-color: rgba(143, 124, 236,.5);
}
.centerCard{
    height: calc(100% - 5rem);
    width: 100%;

}
}