.cart {
    position: fixed;
    display: grid;
    padding: 5px 0 4rem 0px;
    width: 95vw;
    height: 97.5%;
    max-width: 500px;
    background-color: var(--dark-color);
    z-index: 20;
    right: 0px;
    row-gap: 18px;
    grid-template-rows: 3.5% auto 3% 10%;
    top: 0%;
    margin: 0;
    transform: translateX(150%);
    box-shadow: -13px 0px 15px 0px rgba(0, 0, 0, 1);
}

.close {
    height: 100%;
    width: 40px;
    right: 50%;
    margin-left: 85%;
}

.cartContainer {
    display: grid;
    width: 100%;
    height: 100%;
    max-width: 500px;
    background-color: var(--dark-color);
    z-index: 20;
    right: 0;
    overflow-y: auto;
    margin: 0;
}

.product h3,
.product p {
    color: var(--light-color);
}

.cartarticles {
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    position: relative;
    flex-direction: column;
    width: auto;
    height: 8.1rem;
    padding: 5px 8px 5px 0px;
    box-shadow: 0px 1.5px 0px 0px rgba(99, 99, 99, 0.5);
}

.cartBtns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quantity {
    display: flex;
    width: 55px;
    height: 23px;
    border: none;
    text-align: center;
    padding: 0 4px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 32px;
    background: linear-gradient(145deg, var(--dark-color), #f0f0f0);
    box-shadow: 0px 0px 1px #b1b1b1, -3px -3px 6px #ffffff;
    color: var(--light-color);
    margin: 0 -1rem 0 -1rem
}

.quantity:focus {
    outline-style: none;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 10px 20px;
    margin: 25px 10px 0 5px;
    width: auto;
    height: auto;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: 1.3rem;
}

.hideCart {
    transform: translateX(150%);
    transition: all .3s;
}

.showCart {
    transform: translateX(0);
    transition: all .3s;
}

.cartNumber {
    color: var(--light-color);
    display: flex;
    position: relative;
    z-index: 100;
    height: 1.3rem;
    width: 1.3rem;
    right: -1.7rem;
    top: -.12rem;
    font-size: .9rem;
    font-weight: 600;
    font-family: Roboto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

