@media screen and (min-width: 770px) {
    section {
        display: flex;
        flex-wrap: wrap;
    }
    .articles {
        width: auto;
        min-width: 13rem;
        max-width: 20rem;
        height: 16rem;
        margin: 10px;
        justify-content: space-around;
        flex-grow: 1;
    }
    .articles .product {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .product img {
        margin: 0;
        width: 100%;
    }
    .product .info {
        bottom: 0px;
        width: 100%;
        padding-bottom: 5px;
    }
    #header {
        padding-top: 20px;
        justify-content: space-around;
        align-items: flex-start;
        height: 5rem;
    }
    #searcher {
        width: 50%;
        margin: 0 10%;
        border-radius: 2px;
    }
    #publicity {
        width: 100%;
        margin: 8rem 0;
    }
}