@media screen and (min-width: 770px) {
    section {
        display: flex;
        flex-wrap: wrap;
    }
    .articles {
        width: auto;
        min-width: 13rem;
        max-width: 20rem;
        height: 16rem;
        margin: 10px;
        justify-content: space-around;
        flex-grow: 1;
    }
    .articles .product {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .product img {
        margin: 0;
        width: 100%;
    }
    .product .info {
        bottom: 0px;
        width: 100%;
        padding-bottom: 5px;
    }
    #header {
        padding-top: 20px;
        justify-content: end;
        align-items: flex-start;
        height: 5rem;
    }
    #cart {
        display: flex;
        margin-right: 30px;
        margin-left: 9%;
    }
    #menu {
        display: none;
    }
    #searcher {
        width: 50%;
        margin: 0 10%;
        border-radius: 2px;
    }
    .login,
    .filters,
    .contact {
        cursor: pointer;
        padding: 0 6px 6px 6px;
        transition: all .3s;
        border-bottom: 1.5px solid rgba(255, 255, 255, 0);
    }
    .login:hover,
    .filters:hover,
    .contact:hover {
        border-bottom: 1.5px solid var(--dark-color);
    }
    .quickAccessDesktop {
        display: flex;
        top: 1.7rem;
        position: fixed;
        color: var(--dark-color);
        background-color: rgba(22, 0, 50, .9);
        left: 50%;
        translate: -50%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 30px;
        height: 25rem;
        justify-content: center;
        align-items: center;
        transform: rotateY(270deg);
        transition: transform .2s;
        pointer-events: none;
    }
    .filters:hover~.quickAccessDesktop,
    .quickAccessDesktop:hover {
        transform: rotateY(360deg);
        pointer-events: visible;
        transition: transform .2s;
    }
    #publicity {
        width: 95%;
        left: 50%;
        translate: -50%;
        margin: 8rem 0 0 0;
        height: 20rem;
    }
    #quickAccess {
        display: none;
    }
    .quickAccessDesktop :is(.samsungDesktop, .motorolaDesktop, .appleDesktop, .alcatelDesktop, .moreDesktop, .tclDesktop, .noblexDesktop, .nokiaDesktop, .xiaomiDesktop, .all, .allDesktop) {
        width: 15rem;
        height: 30rem;
        border-radius: 0;
        margin: 0px;
        outline: none;
        font-size: 1.3rem;
        padding: 10px;
        justify-content: center;
        cursor: pointer;
    }
    .quickAccessDesktop :is(.samsungDesktop, .motorolaDesktop, .appleDesktop, .alcatelDesktop, .moreDesktop, .tclDesktop, .noblexDesktop, .nokiaDesktop, .xiaomiDesktop, .all, .allDesktop):hover {
        background-color: rgba(127, 132, 135, .9);
        color: var(--light-color);
    }
    .filterBtnsDesktop,
    .quickAccessDesktop {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        height: 25rem;
    }
    .more {
        display: none;
    }
    .moreBtns {
        height: 10rem;
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
    }
    .noblex,
    .noblexDesktop,
    .tcl,
    .tclDesktop,
    .nokia,
    .nokiaDesktop,
    .xiaomi,
    .xiaomiDesktop,
    .alcatel,
    .alcatelDesktop,
    .motorola,
    .motorolaDesktop,
    .apple,
    .appleDesktop,
    .samsung,
    .samsungDesktop,
    .all,
    .allDesktop {
        background: none;
        height: 4rem;
        display: flex;
        outline-style: none;
        transition: 300ms;
    }
    .menu_desktop {
        display: flex;
        position: fixed;
        top: 4.4rem;
        left: 50%;
        translate: -50%;
        flex-direction: row;
        color: var(--dark-color);
        z-index: 15;
        width: 30%;
        justify-content: space-between;
    }
    .menu_desktop .quit {
        display: none;
    }
    .total {
        position: relative;
    }
    .cartContainer {
        position: relative;
        box-sizing: content-box;
    }
    .cart .cartarticles {
        padding: 0;
        height: 7rem;
    }
    .cart .product {
        display: flex;
        flex-direction: row;
        height: 100%;
        margin: 0;
        padding: 0 5px;
    }
    .cart .product img {
        position: relative;
        width: 20%;
        height: auto;
    }
    .cart .product_maker,
    .cart .product_name {
        font-size: 1rem;
    }
    .cart .product_price {
        font-size: 1.3rem;
        margin: 5px
    }
    .cart .info {
        position: relative;
        flex-direction: row;
        top: -.5rem;
        height: 3rem;
    }
    .cart .quantity {
        margin: 0 -9rem;
        font-size: 1.1rem;
    }
    .cart .remove {
        margin-left: -8rem;
        font-size: .8rem;
        height: 1.3rem;
    }
    .fa-angles-right {
        font-size: 1.8rem;
        margin-top: 10px;
    }
}