@media screen and (min-width: 770px) {
    section {
        display: flex;
        flex-wrap: wrap;
    }
    .articles {
        width: auto;
        min-width: 13rem;
        max-width: 20rem;
        height: 16rem;
        margin: 10px;
        justify-content: space-around;
        flex-grow: 1;
    }
    .articles .product {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .product img {
        margin: 0;
        width: 100%;
    }
    .product .info {
        bottom: 0px;
        width: 100%;
        padding-bottom: 5px;
    }
    #header {
        padding-top: 20px;
        justify-content: end;
        align-items: flex-start;
        height: 5rem;
    }
    #cart {
        display: flex;
        margin-right: 30px;
        margin-left: 9%;
    }
    #menu {
        display: none;
    }
    #searcher {
        width: 50%;
        margin: 0 10%;
        border-radius: 2px;
    }
    .login,
    .filters,
    .contact {
        cursor: pointer;
        padding: 0 6px 6px 6px;
        transition: all .3s;
        border-bottom: 1.5px solid rgba(255, 255, 255, 0);
    }
    .login:hover,
    .filters:hover,
    .contact:hover {
        border-bottom: 1.5px solid var(--dark-color);
    }
    .quickAccessDesktop {
        display: flex;
        top: 1.7rem;
        position: fixed;
        color: var(--dark-color);
        background-color: rgba(22, 0, 50, .9);
        left: 50%;
        translate: -50%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 30px;
        height: 25rem;
        justify-content: center;
        align-items: center;
        transform: rotateY(270deg);
        transition: transform .2s;
    }
    .filters:hover~.quickAccessDesktop,
    .quickAccessDesktop:hover {
        transform: rotateY(360deg);
        transition: transform .2s;
    }
    #publicity {
        width: 95%;
        left: 50%;
        translate: -50%;
        margin: 8rem 0 0 0;
        height: 20rem;
    }
    #quickAccess {
        display: none;
    }
    .quickAccessDesktop :is(.samsungDesktop, .motorolaDesktop, .appleDesktop, .alcatelDesktop, .moreDesktop, .tclDesktop, .noblexDesktop, .nokiaDesktop, .xiaomiDesktop) {
        width: 15rem;
        height: 30rem;
        border-radius: 0;
        margin: 0px;
        outline: none;
        font-size: 1.3rem;
        padding: 10px;
        justify-content: center;
    }
    .quickAccessDesktop :is(.samsungDesktop, .motorolaDesktop, .appleDesktop, .alcatelDesktop, .moreDesktop, .tclDesktop, .noblexDesktop, .nokiaDesktop, .xiaomiDesktop):hover {
        background-color: rgba(127, 132, 135, .9);
        color: var(--light-color);
    }
    .filterBtnsDesktop,
    .quickAccessDesktop {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        height: 25rem;
    }
    .samsung,
    .samsungDesktop {
        background: none;
        display: flex;
        height: 4rem;
        outline-style: none;
    }
    .apple,
    .appleDesktop {
        background: none;
        display: flex;
        height: 4rem;
        outline-style: none;
    }
    .motorola,
    .motorolaDesktop {
        background: none;
        display: flex;
        height: 4rem;
        outline-style: none;
    }
    .alcatel,
    .alcatelDesktop {
        background: none;
        display: flex;
        height: 4rem;
        outline-style: none;
    }
    .more {
        display: none;
    }
    .moreBtns {
        height: 10rem;
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
    }
    .noblex,
    .noblexDesktop {
        background: none;
        height: 4rem;
        transition: height .5s;
        display: flex;
        height: 4rem;
        outline-style: none;
    }
    .tcl,
    .tclDesktop {
        background: none;
        height: 4rem;
        transition: height .5s;
        display: flex;
        outline-style: none;
    }
    .nokia,
    .nokiaDesktop {
        background: none;
        transition: height .5s;
        display: flex;
        height: 4rem;
        outline-style: none;
    }
    .xiaomi,
    .xiaomiDesktop {
        background: none;
        transition: height .5s;
        display: flex;
        height: 4rem;
        outline-style: none;
    }
    .menu_desktop {
        display: flex;
        position: fixed;
        top: 4.4rem;
        left: 50%;
        translate: -50%;
        flex-direction: row;
        color: var(--dark-color);
        z-index: 15;
        width: 30%;
        justify-content: space-between;
    }
    .menu_desktop .quit {
        display: none;
    }
}