.bn53 {
    background-color: var(--dark-color);
    color: var(--light-color);
    width: 60px;
    margin: 0 3px;
    height: 25px;
    font-weight: bold;
    animation: bn53bounce 5s infinite;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 8px;
}

@keyframes bn53bounce {
    5%,
    50% {
        transform: scale(1);
    }
    10% {
        transform: scale(1);
    }
    15% {
        transform: scale(1);
    }
    20% {
        transform: scale(1) rotate(-3deg);
    }
    25% {
        transform: scale(1) rotate(3deg);
    }
    30% {
        transform: scale(1) rotate(-2deg);
    }
    35% {
        transform: scale(1) rotate(1deg);
    }
    40% {
        transform: scale(1) rotate(0);
    }
}

.bn632-hover {
    background-color: var(--light-color);
    color: var(--dark-color);
    width: 63px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 8px;
}

#menu,
#cart {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
    color: var(--dark-color);
    width: 3rem;
    padding: 0;
}

#quickAccess :is(.all, .samsung, .motorola, .apple, .alcatel, .more, .tcl, .noblex, .nokia, .xiaomi) {
    width: 4rem;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.filterBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 7px 0;
    font-size: 30px;
}

.samsung {
    display: flex;
    background-image: url(./imgFilters/samsung.jpg);
    background-position: center;
    background-size: 5rem;
    background-repeat: no-repeat;
    height: 4rem;
    outline-style: dashed;
    outline-width: 2px;
    outline-color: var(--light-color);
}

.motorola {
    display: flex;
    background-image: url(./imgFilters/motorola.jpg);
    background-position: center;
    background-size: 4.3rem;
    background-repeat: no-repeat;
    height: 4rem;
    outline-style: dashed;
    outline-width: 2px;
    outline-color: var(--light-color);
}

.apple {
    display: flex;
    background-image: url(./imgFilters/apple.jpg);
    background-position: center;
    background-size: 3.8rem;
    background-repeat: no-repeat;
    height: 4rem;
    outline-style: dashed;
    outline-width: 2px;
    outline-color: var(--light-color);
}

.alcatel {
    display: flex;
    background-image: url(./imgFilters/alcatel.jpg);
    background-position: center;
    background-size: 5rem;
    background-repeat: no-repeat;
    height: 4rem;
    outline-style: dashed;
    outline-width: 2px;
    outline-color: var(--light-color);
}

.more {
    display: flex;
    font-size: 70%;
    font-weight: bold;
    outline-style: dashed;
    outline-width: 2px;
    outline-color: var(--light-color);
}

.moreBtns {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 7px 0 0 0;
    font-size: 30px;
    justify-content: space-around;
    z-index: 0;
}

.noblex {
    display: flex;
    top: 45vh;
    right: 1.8%;
    background-image: url(./imgFilters/noblex.jpg);
    background-position: center;
    background-size: 5rem;
    background-repeat: no-repeat;
    z-index: 5;
    transition: box-shadow .2s;
}

.tcl {
    display: flex;
    top: 45vh;
    right: 1.8%;
    background-image: url(./imgFilters/tcl.jpg);
    background-position: center;
    background-size: 5rem;
    background-repeat: no-repeat;
    z-index: 5;
    transition: box-shadow .2s;
}

.nokia {
    display: flex;
    top: 45vh;
    right: 1.8%;
    background-image: url(./imgFilters/nokia.jpg);
    background-position: center;
    background-size: 5rem;
    background-repeat: no-repeat;
    z-index: 5;
    transition: box-shadow .2s;
}

.xiaomi {
    display: flex;
    top: 45vh;
    right: 1.8%;
    background-image: url(./imgFilters/xiaomi.jpg);
    background-position: center;
    background-size: 5rem;
    background-repeat: no-repeat;
    z-index: 5;
    transition: box-shadow .2s;
}

.all {
    display: flex;
    top: 45vh;
    right: 1.8%;
    background-image: url(./imgFilters/all.jpg);
    background-position: center;
    background-size: 5rem;
    background-repeat: no-repeat;
    z-index: 5;
    transition: box-shadow .2s;
}

.close {
    background-color: transparent;
    border: none;
}

.fa-angles-right {
    color: var(--light-color);
    font-size: 2rem;
    filter: drop-shadow(0px 0px 4px rgba(238, 242, 255, 1)) drop-shadow(0px 0px 4px rgba(238, 242, 255, 1)) drop-shadow(0px 0px 4px rgba(238, 242, 255, 1));
    /* color: var(--dark-color); */
}

.showButton {
    height: 4rem;
    transition: height .5s;
    outline-style: dashed;
    outline-width: 2px;
    outline-color: var(--light-color);
}

.removeButton {
    width: 0;
    height: 0;
    transition: height .5s;
    outline-style: none;
}

.remove {
    color: var(--light-color);
    border: none;
    outline: none;
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, var(--dark-color));
    box-shadow: 2px 2px 1px #b1b1b1, -3px -3px 6px #ffffff;
}

.remove:active {
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: inset 3px 3px 6px #b1b1b1, inset -3px -3px 6px #ffffff;
}

.arrows {
    display: flex;
}

.up,
.down {
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: var(--light-color);
}

.fa-square-caret-down,
.up i {
    background-color: transparent;
    padding: 2px;
    border-radius: 2px;
}

.fa-square-caret-down:active,
.up i:active {
    border-radius: 2px;
    background: #e0e0e0;
    box-shadow: inset 1px 1px 2px #b1b1b1, inset -1px -1px 2px #ffffff;
}

.blockDown {
    color: var(--medium-color)!important;
    background: var(--dark-color);
}

.purchase {
    display: flex;
    width: auto;
    height: auto;
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    background: var(--light-color);
    box-shadow: 7px 7px 13px #b1b1b1, -7px -7px 13px #ffffff;
    color: var(--dark-color);
}

.btn41-43 {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    text-decoration: none;
    background: var(--light-color);
    color: var(--dark-color);
}

.btn-42 {
    z-index: 1;
    color: var(--dark-color)
}

.btn-42:hover {
    color: var(--light-color);
}

.btn-42:active {
    top: 2px;
}